@charset "utf-8";

/* ============================================
    투두리스트 
============================================ */
.date_header {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; height: 50px; line-height: 50px; }
.date_header .date_now {font-size: 15px; color: #222; font-weight: 600; }
.date_header .btn_arrow {display: block; width: 30px; height: 30px; background-color: #666666; -webkit-mask-image: url("../images/common/calendar_direction.svg"); mask-image: url("../images/common/calendar_direction.svg"); -webkit-mask-position: right center; mask-position: right center;  -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-size: 8px 8px; mask-size: 8px 8px;}
.date_header .btn_arrow.prev {mask-position: left center; transform: rotate(180deg); }


.editodo_todolist .todolist_table {height: 403px; margin-top: 10px;padding: 20px 20px; box-sizing: border-box; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1); background-color: #f5f5f5; overflow-x: hidden; overflow-y: auto; }

.todolist_tbody li {position: relative; }
.todolist_tbody li + li {margin-top: 16px; }
.todolist_tbody .item_more {position: absolute; top: 0; right: 0; width: 18px; height: 18px; background-color: #aaa; -webkit-mask-image: url("../images/common/dot.svg"); mask-image: url("../images/common/dot.svg"); -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: center center; mask-position: center center; -webkit-mask-size: 2px 10px; mask-size: 2px 10px;}

.todolist_table .btn_new_todo {height: 28px; padding: 0 15px; box-sizing: border-box; border-radius: 18px; background-color: #222; font-size: 13px; color: #fff; font-weight: 500; text-align: center; line-height: 28px; }  
.todolist_table > .todolist_tbody + .bottom_btn_group {margin-top: 30px; text-align: center; }



/* ============================================
    calendar 
============================================ */
.calendar_table > table {width: 100%; margin: 0 auto;}
.calendar_table .calendar_head th {width: 50px; height: 50px; font-size: 14px; color: #aaa; font-weight: 600; }
.calendar_table .calendar_body td {position: relative; width: 50px; height: 50px; padding: 5px 0; box-sizing: border-box; color: #222; font-size: 13px; font-weight: 600; text-align: center;  vertical-align: top; cursor: pointer; }

.calendar_table .calendar_body .daily_face {position: absolute; bottom: 5px; left: 50%; width: 20px; height: 20px; box-sizing: border-box; border-radius: 100%; background-color: #eee; background-repeat: no-repeat; background-size: contain; transform: translateX(-50%); }
.calendar_table .calendar_body .daily_face.not {border: 1px dashed #aaa; background-color: transparent;}
.calendar_table .calendar_body .daily_face.not:after {content: ''; position: absolute; top: 50%; left: 50%; width: 8px; height: 8px; background-color: #aaa; -webkit-mask-image: url("../images/common/x_small.svg"); mask-image: url("../images/common/x_small.svg"); -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat; -webkit-mask-position: center center; mask-position: center center; -webkit-mask-size: 8px 8px; mask-size: 8px 8px; transform: translate(-50%, -50%);}


/* 하루기록 */
.editodo_calendar .daily_diary {display: none; }
.editodo_calendar .daily_diary.active {display: block; }
.editodo_calendar .daily_diary .todo_box {width: 100%; height: 120px; margin-top: 15px; box-sizing: border-box; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1); background-color: #f5f5f5; overflow-x:hidden; overflow-y: auto;}
.editodo_calendar .daily_diary .todo_box .todolist_table {padding: 10px; border-radius: 0;}