@charset "utf-8";
/* ============================================
    다크모드 & 시스템 모드 : dark 
============================================ */

/* layout
============================= */
#wrap.darkmode .header {background-color: var(--darkmode-body-color); }
.darkmode .header .hd_tit {color: #999999; }
.darkmode .header .hd_util .hd_back.arrow01 {background-color: #999999; }
.darkmode .header .hd_util .hd_back {background-color: #999999;}

.darkmode .date_header .date_now {color: #DADADA;}
.darkmode .date_header .btn_arrow {background-color: #999999; }



/* common 
============================= */
.darkmode .container {background-color: var(--darkmode-body-color); }
.darkmode .btn_dark {border-color: var(--dark-accent-default); background-color: var(--dark-accent-default); color: #333 !important;  } 





/* ============================================
    옵션 스텝  
============================================ */
.darkmode .editodo_step .step_process .step_count {background-color: var(--darkmode-body-color); }





/* ============================================
    하루일기   
============================================ */
.darkmode .editodo_daily .tit {color: #DADADA; }
.darkmode .editodo_daily .record_area {color: #DADADA; }
.darkmode .editodo_daily .record_sammary .txt {color: #DADADA; }

.darkmode .editodo_daily .sticker_emoji li.on {border-color: var(--main-color); }
.darkmode .editodo_daily .sticker_emoji li.on:after {background-color: var(--main-color);}




/* ============================================
    todolist  
============================================ */
.darkmode .calendar_table .calendar_body td {color: #DADADA; }






/* ============================================
    mypage  
============================================ */
.darkmode .editodo_mypage .mypage_info {border-color: #444444; background-color: #333333;}
.darkmode .editodo_mypage .mypage_info .btn_info {color: #DADADA; }
.darkmode .editodo_mypage .mypage_info .mypage_arrow {background-color: #DADADA; }
.darkmode .editodo_mypage .category {border-color: #444444; }
.darkmode .editodo_mypage .category li {background-color: #333333; color: #DADADA;}
.darkmode .editodo_mypage .category .btn_category {color: #DADADA; }




/* ============================================
    fnb  
============================================ */
.darkmode .editodo_fnb {border-color: #333333; background-color: var(--darkmode-body-color);}
.darkmode .editodo_fnb .fnb_list .btn_fnb .fnb_icon {background-color: #444444;}
.darkmode .editodo_fnb .fnb_list .btn_fnb .fnb_tit {color: #444; }
.darkmode .editodo_fnb .fnb_list .btn_fnb.active .fnb_icon {background-color: #BBBBBB; }
.darkmode .editodo_fnb .fnb_list .btn_fnb.active .fnb_tit {color: #BBBBBB; }







/* 시스템 모드 dark 인 경우 */
@media (prefers-color-scheme: dark) {


    /* ============================================
    시스템 모드 - dark 인 경우 
============================================ */
    #wrap .header {
        background-color: var(--darkmode-body-color);
    }


    /* common */
    .container {
        background-color: var(--darkmode-body-color);
    }

    .btn_dark {
        border-color: var(--dark-accent-default);
        background-color: var(--dark-accent-default);
        color: #333 !important;
    }

    .header .hd_util .hd_back.arrow01 {
        background-color: #999999;
    }

    .header .hd_util .hd_back {
        background-color: #999999;
    }


    /* layout
============================= */
    .header .hd_util .hd_back.arrow01 {
        background-color: #999999;
    }

    .header .hd_util .hd_back {
        background-color: #999999;
    }

    .date_header .date_now {
        color: #DADADA;
    }

    .date_header .btn_arrow {
        background-color: #999999;
    }

    .editodo_step .step_process .step_count {background-color: var(--darkmode-body-color); }
    

    /* ============================================
todolist  
============================================ */
    .editodo_daily .tit {
        color: #fff;
    }

    .editodo_daily .record_area {
        color: #fff;
    }

    .editodo_daily .record_sammary .txt {
        color: #DADADA;
    }



    /* ============================================
mypage  
============================================ */


    .editodo_mypage .mypage_info .btn_info {
        color: #DADADA;
    }

    .editodo_mypage .mypage_info .mypage_arrow {
        background-color: #DADADA;
    }

    .editodo_mypage .category {
        border-color: #444444;
    }


    .editodo_mypage .category .btn_category {
        color: #DADADA;
    }

    .editodo_mypage .category .btn_category+.icon_direction {
        background-color: #999999;
    }

    .editodo_mypage.bg-white {
        background-color: var(--darkmode-body-color);
    }




    /* ============================================
fnb  
============================================ */
    .editodo_fnb {
        border-color: #333333;
        background-color: var(--darkmode-body-color);
    }

    .editodo_fnb .fnb_list .btn_fnb .fnb_icon {
        background-color: #444444;
    }

    .editodo_fnb .fnb_list .btn_fnb.active .fnb_icon {
        background-color: #BBBBBB;
    }

    .editodo_fnb .fnb_list .btn_fnb.active .fnb_tit {
        color: #ffffff;
    }

}