@charset "utf-8";

/* ============================================
    layout
============================================ */
html, body {position: relative; width: 100%; height: 100%; }
#wrap {display: flex; flex-wrap: nowrap; flex-direction: column; background-color: #f8f7f8; font-family: 'Noto Sans', sans-serif; font-weight: 400; }
#wrap .header,
#wrap .footer {flex-basis: 100%; }

.editodo_inner {max-width: 720px; height: 100%; margin: 0 auto; padding: 0; box-sizing: border-box; }
.side_pd {padding: 0 18px; box-sizing: border-box; }





/* ============================================
    header
============================================ */
#wrap .header {position: relative; width: 100%; height: 40px; background-color: #fff; line-height: 40px; }
.header .hd_util {position: absolute; top: 0; left: 18px; }
.header .hd_util .hd_back {width: 30px; height: 30px; background-repeat: no-repeat; background-position: left center; background-position: 6px 12px;}
.header .hd_util .hd_back.arrow01 {background-image: url("");}
.header .hd_tit {font-size: 16px; text-align: center; color: #222; font-weight: 600; }





/* ============================================
    editodo_wrap
============================================ */
.container {align-self: stretch; padding-bottom: 100px; background-color: #fff; }



/* ============================================
    calendar 
============================================ */
/* header */
.editodo_datapicker .ui-datepicker .ui-widget-header {height: 50px; margin-bottom: 10px; padding: 0; background-color: transparent; border: none; border-radius: 0;}
.editodo_datapicker .ui-datepicker .ui-datepicker-prev {width: 30px; height: 30px; left: 0; top: 10px; }
.editodo_datapicker .ui-datepicker .ui-datepicker-next {width: 30px; height: 30px; right: 0; top: 10px;}
.editodo_datapicker .ui-datepicker .ui-datepicker-title {margin: 0 auto; padding: 0; color: #222; font-size: 15px; font-weight: 600; line-height: 50px;}

/* content */
.editodo_datapicker .ui-widget.ui-widget-content {width: 100%; height: 100%; margin: 0 auto; padding: 0; border: none; border-radius: 0;}
.editodo_datapicker .ui-datepicker th {width: 50px; height: 50px; padding: 0; box-sizing: border-box; color: #aaa; font-size: 14px; }
.editodo_datapicker .ui-datepicker td {padding: 0;}
.editodo_datapicker .ui-state-default, 
.editodo_datapicker .ui-widget-content .ui-state-default, 
.editodo_datapicker .ui-widget-header .ui-state-default {width: 50px; height: 50px; margin: 0 auto; padding: 5px 0; box-sizing: border-box; border: none;  background-color: transparent; text-align: center; color: #222; font-weight: 600; }

.editodo_datapicker .ui-state-default:after {content: 'x'; display: block; width: 20px; height: 20px; margin: 2px auto 0; box-sizing: border-box; border-radius: 100%; border: 1px dashed #eee; background-color: transparent; color: #eee; }

/* Active
.editodo_datapicker .ui-state-active,
.editodo_datapicker .ui-widget-content .ui-state-active,
.editodo_datapicker .ui-widget-header .ui-state-active,
.editodo_datapicker a.ui-button:active,
.editodo_datapicker .ui-button:active,
.editodo_datapicker .ui-button.ui-state-active:hover {background-color: #381e1f; color: #fff !important; font-weight: 700; } */

/* holiday */
.editodo_datapicker td.ko_holiday a.ui-state-default {color: #FF3030; }

/* Hover
.editodo_datapicker td .ui-state-default:hover,
.editodo_datapicker td.ui-datepicker-week-end a:hover {background-color: #ffd800; }  */


.editodo_calendar .daily_diary {display: none; }
.editodo_calendar .daily_diary.active {display: block !important; }
.editodo_calendar .daily_diary .todo_box {width: 100%; height: 120px; margin-top: 15px; box-sizing: border-box; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1); background-color: #f5f5f5; overflow-x:hidden; overflow-y: auto;}






/* ============================================
    editodo_mypage (nav)  
============================================ */
.editodo_mypage {background-color: #F7F8F9; }
.editodo_mypage.bg-white {background-color: #fff; }
.editodo_mypage .mypage_info {height: 60px; padding: 0 16px; box-sizing: border-box; border-bottom: 1px solid #eee; background-color: #fff; line-height: 60px; }
.editodo_mypage .mypage_info .btn_info {font-size: 20px; color:#222; font-weight: 600; }
.editodo_mypage .mypage_info .mypage_arrow {display: inline-block; width: 12px; height: 12px; background-image: url(); background-repeat: no-repeat; background-size: contain; background-position: left center;}

.editodo_mypage .category {margin-top: 10px; border-bottom: 1px solid #eee; }
.editodo_mypage .category li {height: 45px; padding: 0 20px; background-color: #fff; line-height: 45px; font-size: 14px; color: #444;}
.editodo_mypage .category .btn_category {display: block; width: 100%; height: 100%; line-height: 45px; font-size: 14px; color: #444;}
.editodo_mypage .category .btn_category.arrow {}

.editodo_mypage .category_util > li {position: relative; }
.editodo_mypage .category_util .category_state {position: absolute; top: 0; right: 20px; color: #888; font-size: 13px; text-align: right; }



/* ============================================
    editodo_fnb
============================================ */
.editodo_fnb {position: fixed; bottom: 0; left: 0; width: 100%; height: 60px;  box-sizing: border-box; border-top: 1px solid #eee; background-color: #fff; }
.editodo_fnb .fnb_list {display: flex; justify-content: space-around; align-items: center; height: 100%;}
.editodo_fnb .fnb_list .btn_fnb {background-repeat: no-repeat; background-size: 16px 18px;background-position: top center; padding-top: 22px; font-size: 12px; color: #AAAAAA; font-weight: 500;}
.editodo_fnb .fnb_list .btn_fnb.active {color: #222;} 
.editodo_fnb .fnb_list .fnb_todolist {background-image: url();}
.editodo_fnb .fnb_list .fnb_calendar {background-image: url();}
.editodo_fnb .fnb_list .fnb_todolist {background-image: url();}
.editodo_fnb .fnb_list .fnb_daily {background-image: url();}





/* ============================================
    layer
============================================ */
.layer {display: none; position: fixed; top: 0; left: 0; z-index: 50;  width: 100%; height: 100%; }
.layer .dim {position: absolute; top: 0; left: 0; z-index: 60; width: 100%; height: 100%; background-color: rgba(0,0,0,0.2); }
.layer .layer_content {position: absolute; bottom: 0; left: 0; z-index: 70;}

.layer_drop .layer_content {width: 100%; min-height: 180px; background-color: #fff; box-sizing: border-box; border-radius: 20px 20px 0 0; box-shadow: 0px -3px 14px rgba(34, 34, 34, 0.1);}
.layer_drop .drop_header {position: relative; min-height: 80px; padding: 30px 15px;  box-sizing: border-box; border-bottom: 1px solid #eee; }
.layer_drop .drop_header:after {content: ''; position: absolute; top: 5px; left: 50%; width: 50px; height: 3px; border-radius: 18px; background-color: #eee; transform: translateX(-50%); }
.layer_drop .drop_header .drop_tit {display: block; font-size: 15px; text-align: center; font-weight: 500; color: #222;}
.layer_drop .drop_list li {height: 50px; line-height: 50px;  }
.layer_drop .drop_list .btn_drop {display: block; width: 100%; font-size: 14px; color: #444; text-align: center;}
.layer_drop .drop_list .btn_del {color: #FF3030;}