@charset "utf-8";

/* ================================================
  common
==================================================*/

/* 제 1 조 */
.policy-count.chapter {counter-reset: period; }
.policy-count.chapter > li {counter-increment: period; }
.policy-count.chapter > li:before {content: "제 " counter(period)" 조"; margin-right: 5px; font-size: 13px; color: #666; font-weight: 500; }


/* 1 */
.policy-count.num > li {counter-increment: count; }
.policy-count.num > li:before {content: counter(count) "."; margin-right: 5px; }

/* (1) */
.policy-count.brackets > li {counter-increment: count; }
.policy-count.brackets > li:before {content: "(" counter(count) ")"; margin-right: 5px; }


/* ① */
.policy-count.ellipse > li {counter-increment: number; }
.policy-count.ellipse > li:before {content: counter(number); display: inline-block; width: 14px; height: 14px; margin: 0 4px 3px 0; border: 1px solid #969696; border-radius: 100%; box-sizing: border-box; background-color: transparent; text-align: center; color: #969696; font-size: 10px; line-height: 12px; vertical-align: middle;}

/* 넘버림 없애기 */
.policy-count .clear  {counter-reset: none !important; }
.policy-count .clear:before {content: "" !important; margin: 0 !important; }


/* list-style 
------------------------------------------*/

/* style : ■ */
.list-square li {position: relative; padding-left: 10px; }
.list-square li:after {content: ''; display: block; position: absolute; background-color: #a1a1a1; vertical-align: middle; }

/* style : ． */
.list-dot li {position: relative; padding-left: 10px; }
.list-dot li:before {content: ''; position: absolute; top:10px; left: 0; width: 4px; height: 4px;  border-radius: 100%; background-color: #444; vertical-align: middle; }

/* style : - */
.list-dash li {position: relative; padding-left: 10px; }
.list-dash li:before {content: '-'; position: absolute; top:0; left: 0; font-size: 12px; color: #a1a1a1; }


/* style : 1.  */
.list-number {counter-reset: period; }
.list-number > li {counter-increment: period; }
.list-number > li:before {content: counter(period)"."; margin-right: 5px; }



/* ================================================
  terms
==================================================*/
.policy {margin-top: 20px; color: #666; font-size: 14px; font-weight: 400; line-height: 19px;}
.policy h3 {color: #666; font-size: 14px; font-weight: 400;}
.policy h3 + p {margin-top: 20px; }
.policy p + p {margin-top: 20px; }
.policy .policy-count.chapter > p {margin-top: 0; }
.policy .policy-count li {margin-top: 40px; color: #666; }
.policy .policy-count.depth > li p {margin-top: 20px; } 