@charset "utf-8";


/* ============================================
    onboarding 
============================================ */
.editodo_onboarding {position: absolute; top: 50%; left: 50%; width: 100%; background-color: #fff; transform: translate(-50%, -50%); }
.editodo_onboarding .onboarding {text-align: center; }
.editodo_onboarding .onboarding .pic {position: relative; display: inline-block; }
.editodo_onboarding .onboarding .pic:after {content:''; display: block; position: absolute; top: 15px; right: 0; width: 58px; height: 52px; background: url('../images/common/et_check.svg') no-repeat left center; background-size: contain; animation: fadeInUp ease-out .5s;}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: scale(0,0);
        
    }
    to {
        opacity: 1;
        transform: rotate(1,1);
    }
}
.editodo_onboarding .onboarding .tit {display: block; margin: 40px auto 10px; font-size: 22px; color: #222; font-weight: 600;}
.editodo_onboarding .onboarding .txt {font-size: 14px; color: #666; font-weight: 400;}
.editodo_onboarding .onboarding .txt > strong {font-weight: 600; }





/* ============================================
    step 
============================================ */
.editodo_step {padding-top: 40px; }
.editodo_step .step_process {position: relative; display: flex; justify-content: space-between;}
.editodo_step .step_process:after {content: ''; position: absolute; top: 7px; left: 0; width: 100%; height: 1px; background-color: #D9D9D9; }

.editodo_step .step_process > li {display: flex; flex-direction: column;  gap: 5px 0; z-index: 5;}
.editodo_step .step_process li:nth-child(2) {align-items: center;}
.editodo_step .step_process li:last-child {align-items: end;}

.editodo_step .step_process .step_count {position: relative; width: 15px; height: 15px; box-sizing: border-box; background-color: #fff; text-indent: -9999px; }
.editodo_step .step_process .step_count:before {content: ''; position: absolute; top: 0; left: 0; width: 15px; height: 15px; box-sizing: border-box; border-radius: 100%; background-color: #D9D9D9; }
.editodo_step .step_process .step_count:after {content: ''; position: absolute; top: 4px; left: 3px;  width: 8px; height: 4px; border: 1px solid #fff; border-top: 0; border-right: 0; transform: rotate(-45deg);}
.editodo_step .step_process .step_name {font-size: 12px; color: #aaa; font-weight: 400; }

.editodo_step .step_process li:first-child .step_count {width: 20px;}
.editodo_step .step_process li:nth-child(2) .step_count {width: 25px; }
.editodo_step .step_process li:nth-child(2) .step_count:before {left: 5px}
.editodo_step .step_process li:nth-child(2) .step_count:after {left: 7px; }

.editodo_step .step_process li:last-child .step_count {width: 20px;}
.editodo_step .step_process li:last-child .step_count:before {left: auto; righT: 0; }
.editodo_step .step_process li:last-child .step_count:after {left: auto; right: 3px;}

/* step 활성화 */
.editodo_step .step_process.on:before {content: ''; position: absolute; top: 7px; left: 0; width: 50%; height: 1px; z-index: 3; background-color: var(--main-color); }
.editodo_step .step_process.on.step2:before {left: 50%; }
.editodo_step .step_process li.on .step_count:before {background-color: var(--main-color);}
.editodo_step .step_process li.on .step_name {color: #222;} 

.section_choose {margin-top: 40px; }
.section_choose .title {font-size: 18px; color: #222; font-weight: 600; line-height: 24px; }
.section_choose .subtitle {margin-top: 10px; color: #666; font-size: 13px; line-height: 17px; }

/* 테마 */
.section_choose .layout_option {display: flex; margin-top: 30px; }
.section_choose .layout_option li {margin-right: 5px; }
.section_choose .layout_option .btn_option {min-width: 60px; height: 30px; box-sizing: border-box; border-radius: 6px; border: 1px solid #bbb; font-size: 12px; color: #888; text-align: center; font-weight: 500; line-height: 28px; overflow: hidden; }
.section_choose .layout_option li.on .btn_option {border-width: 2px; border-color: var(--main-color); color: var(--main-color); font-weight: 700;}

.section_choose .layout_sample {margin-top: 20px; }
.section_choose .layout_sample .caption {margin-bottom: 5px; font-size: 12px; color: #444; font-weight: 400; }
.section_choose .layout_sample .sample_preview {background-color: #eee; border-radius: 6px;}
.section_choose .layout_sample .sample_preview .todolist_table {width: 100%; height: 212px; padding: 20px 20px; box-sizing: border-box;  border-radius: 0;}



/*  
    테마
=============================================== */
.section_choose .layout_option.theme .btn_option {padding: 0 5px; }



/*  
    색상 
=============================================== */
.section_choose .layout_option.color .btn_option:after {content: ''; clear: both; display: block; height: 0; visibility: hidden; }
.section_choose .layout_option.color .btn_option > span {float: left; width: 50%; height: 100%; text-indent: -9999px; }



/* checkbox 
============================================= */
.checkbox02 {position: relative; display: block; padding-left: 26px; cursor: pointer;  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.checkbox02 label {display: inline-block; width: calc(100% - 18px); font-size: 13px; color: #666; font-weight: 500; line-height: 19px; vertical-align: middle;}
.checkbox02 input[type="checkbox"] {display: none; } 

/* 선택되지 않은 체크박스 스타일 꾸미기 */
.checkbox02 .on {position: absolute; top: 2px; left: 0; width: 18px; height: 18px; box-sizing: border-box; border: 1px solid #D9D9D9; background: #D9D9D9;  }
.checkbox02 .on:after {content: ''; display: none; position: absolute; top: 3px; left: 3px; width: 8px; height: 4px; border: 1px solid #ccc; border-top: 0; border-right: 0; transform: rotate(-45deg);}


/* 선택된 체크박스 스타일 꾸미기 */
.checkbox02 input[type="checkbox"]:checked + .on {border-color: #222; background: #222; }
.checkbox02 input[type="checkbox"]:checked + .on:after {display: block; border-color: #fff; }
.checkbox02:has(:checked) label {text-decoration: line-through; color: #aaa;}




/* ============================================
    하루기록 
============================================ */
.editodo_daily .tit {margin-top: 30px; margin-bottom: 15px; font-weight: 600; font-size: 18px; color:#222; }
.editodo_daily .record_area {height: calc(100vh - 398px); font-size: 14px; color: #444; }
.editodo_daily .record_sammary {margin-top: 60px; padding-bottom: 10px;}
.editodo_daily .record_sammary .txt { font-size: 13px; color: #666; font-weight: 500;}
.editodo_daily .sticker_emoji {display: flex; }
.editodo_daily .sticker_emoji li {position: relative; width: 40px; height: 40px; margin-top: 10px; margin-right: 8px; box-sizing: border-box; border-radius: 100%; background-color: #eee; }
.editodo_daily .sticker_emoji li.on {border: 2px solid #000; }
.editodo_daily .sticker_emoji li.on:after {content: ''; position: absolute; top: -9px; left: 0; width: 18px; height: 18px; box-sizing: border-box; border-radius: 100%; background-color: #222; } 
.editodo_daily .sticker_emoji li.on:before {content: ''; position: absolute; top: -5px; left: 4px; z-index: 1; width: 8px; height: 4px; border: 2px solid #fff; border-top: 0; border-right: 0; transform: rotate(-45deg);}
/*.editodo_daily .sticker_emoji li.on:after {content: ''; position: absolute; top: -9px; left: 0;  width: 8px; height: 4px; border: 1px solid #fff; border-top: 0; border-right: 0; transform: rotate(-45deg);} */